.Navbar{
    display: flex;
    background-color: white;
    padding: 10px;
}
.navlink{
    text-decoration: none;
    color:gray;
}
.active{
    text-decoration: underline;
    color: black;
   
}
.app-name{
    
    font-size:x-large;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}